<!DOCTYPE html>
<html>
<head>
    <title>
        AngularJs $http.post() Service Method Example
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('postserviceApp', []);
        app.controller('postserviceCtrl', function ($scope, $http) {

            $scope.name = null;
            $scope.key = null;
            $scope.bitbucket = true;
            $scope.jira = true;
            $scope.confluence = true;

            $scope.postdata = function (name, key, bitbucket, jira, confluence) {
                var data = {
                    name: name,
                    key: key,
                    bitbucket: bitbucket,
                    jira: jira,
                    confluence: confluence
                };
//Call the services
                $http.post('/atlassian2', JSON.stringify(data)).then(function (response) {
                    if (response.data)
                        $scope.msg = "Post Data Submitted Successfully!";
                }, function (response) {
                    $scope.msg = "Service not Exists";
                    $scope.statusval = response.status;
                    $scope.statustext = response.statusText;
                    $scope.headers = response.headers();
                });
            };
        });
    </script>
</head>
<body>
<div ng-app="postserviceApp" ng-controller="postserviceCtrl">
    <div>
        Name : <input ng-model="name" /><br/><br/>
        Key : <input ng-model="key" /><br/><br/>
        Bitbucket : <input type="checkbox" ng-model="bitbucket" /><br/><br/>
        Jira : <input type="checkbox" ng-model="jira" /><br/><br/>
        Confluence : <input type="checkbox" ng-model="confluence" /><br/><br/>
        <input type="button" value="Create" ng-click="postdata(name, key, bitbucket, jira, confluence)" /> <br/><br/>
    </div>
    <p>Output Message : {{msg}}</p>
    <p>StatusCode: {{statusval}}</p>
    <p>Status: {{statustext}}</p>
    <p>Response Headers: {{headers}}</p>
</div>
</body>
</html>