<!doctype html>
<html ng-app="demo">
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
</head>

<body>

<div ng-controller="Hello">
    <form action="/ang.html">
        <input type="submit" value="Create project" />
    </form>
    <table border="1" cellpadding="10">
        <tr ng-repeat="items in users">
            <td>{{items.id}}</td>
            <td>{{items.name}}</td>
            <td>{{items.kpoint}}</td>
        </tr>
    </table>
</div>

<script>
    angular.module('demo', [])
        .controller('Hello', function($scope, $http) {
            $http.get('/db').
            then(function(response) {
                $scope.users = response.data;
            });
        });
</script>
</body>
</html>